@import '../../styles/settings.scss';

.darkMode {
    background-image: url('/src/images/y-so-serious-white.png');
}

.component {
    position: fixed;
    right: 0%;
    font-size: 24px;
    top: 4vw;
    width: 100%;

    *, ::before, ::after {
        box-sizing: unset;
    }

    > button {
        // color: grey;
        //position: absolute;
        color: black;
        font-size: 18px;
        cursor: pointer;
        margin-bottom: 5px;
        padding: 5px;
        background-color: $base-color;
        border-radius: 5px;
        border-color: $base-color;
        transition: 1s;
        position: absolute;
        right: 0%;
    }

    > button:hover {
        background-color: rgb(31, 162, 125);
        border-color: aqua;
    }

    i {
        color: grey;
        position: absolute;
        top: 40px;
        right: 1%;
        cursor: pointer;
        font-size: 36px;
    }
}

dialog {
    opacity: 0;
    scale: 0;
    display: block;
    transition: all 1s;
    background-color: $base-color;
    border-radius: 15px;
    text-align: center;
    width: 30%;
    font-size: 18px;

    h3 {
        margin: 5px;
    }

    input {
        font-size: 16px;
        margin: 5px;
        border-radius: 20px;
        border-color: $base-color;
        width: 80%;
    }

    button {
        cursor: pointer;
        margin: 5px;
        padding: 5px;
        border: solid 1px $base-color;
        border-radius: 20px;
        transition: 1s ease;
        
    }

    button:hover {
        background-color: rgb(31, 162, 125);
        border-color: aqua;
    }
    
    button:active {
        background-color: rgb(17, 97, 74);
        transition: .1s;
    }
}

dialog[open] {
    scale: 1;
    opacity: 1;
}

@media screen and (min-width: 1700px){
    .darkModeButton, .links {
        top: 7vh;
    }

    .darkModeButton {
        font-size: 36px;
    }
}

@media screen and (max-width: 1000px) {
    dialog {
        width: 50%;
    }

    .darkModeButton, .links {
        top: 3.5rem;
    }
}

@media screen and (max-width: 640px) {
    .component {
        top: 10vw;
    }

    dialog {
        width: 75%;
    }
}