@import '../../styles/settings.scss';

.model {
    position: relative;
    margin: auto;
    width: 80vw;
    height: 100vh;
    opacity: 1;
    transition: opacity .5s;

    &.fade {
        opacity: 0;
    }

    div:last-of-type {
        overflow: hidden;
        position: absolute;
        top: 0;
        height: 60vw;
        width: inherit;
    }
    
    p {
        position: absolute;
        color: white;
        font-size: 1.2vw;
        opacity: 0;
        margin-left: 5px;

        &.visible {
            opacity: 1;
        }
    }

    .model3d {
        top: 1%;
        left: 42%;
    }

    .sideView {
        top: 0;
        left: 2%;
    }

    .mini3d {
        top: 50vh;
        left: 2%;

        > span {
            background: linear-gradient(50deg, #a032be, #0e0e6a);
            width: 41vw;
            height: 3vh;
            position: absolute;
            content: '';
            top: -200%;
            left: -30%;
        }
    }

    .floorStart {
        top: 0;
        left: 50%;

        > span {
            background: linear-gradient(90deg, #0e0e6a, #113aaa);
            width: 1vw;
            height: 100vh;
            position: absolute;
            content: '';
            top: -2vh;
            left: -15%;
        }
    }

    .floorEnd {
        top: 0;
        left: 75%;

        > span {
            background: linear-gradient(90deg, #113aaa, #1c84d8);
            width: 1vw;
            height: 100vh;
            position: absolute;
            content: '';
            top: -2vh;
            left: -15%;
        }
    }

    a {
        position: absolute;
        background: $base-color;
        cursor: pointer;
        padding: 5px;
        border-radius: 5px;
        transition: 1s ease;
        left: -3.5rem;
        text-decoration: none;
        color: black;
        top: 0;
    }

    a:last-of-type {
        top: 3rem;
    }

    a:hover {
        background-color: rgb(31, 162, 125);
        border-color: aqua; 
    }

    a:active {
        background-color: rgb(17, 97, 74);
        transition: .1s;
    }
}

/* Canvas */

canvas {
    margin: auto;
    margin-bottom: 70px;
    padding: 0;
    pointer-events: none;
}

.nonVisible {
    display: none;
}

#bottom {
    margin-bottom: 200px;
}

@media screen and (max-width: 640px) {
    .model {
        height: 20vh;

        > div:nth-of-type(2) {
            display: none;
        }

        > div:nth-of-type(3) {
            display: none;
        }

        > a {
            display: none;
        }
    }
}