@import '../../styles/settings.scss';

.component {
    display: none;
}

@media screen and (max-width: 640px) {
    .component {
        display: block;
        color: black;
        background-color: white;
        opacity: 0.8;
        box-shadow: 1px 1px 30px;
        border-radius: 20px;
        margin: 50px;
        text-align: center;
        padding: 10px;
    }
}